:root {
  --main-color: rgba(21, 88, 21, 0.856);
}

* {
  background-color: rgba(94, 173, 209, 0.63);
}

#header {
  text-align: center;
  color: var(--main-color)
}

ul li {
  list-style-type: square;
}