:root {
  --main-color: rgba(42, 182, 175, 0.774);
}

.bg-primary{
  background-color: rgba(43, 104, 28, 0.63);
}

.bg-secondary{
  background-color: rgba(42, 182, 175, 0.774);
}

.text-center{
  text-align: center;
}

ul li {
  list-style-type: square;
}